body {
    background-color: lightgreen;
}


h1 {
    width: 20%;
    margin: 2% auto;
    padding-left: 10%;
    color: darkgreen;
}

.gameBoard {
    width: 300px;
    height: 300px;
    margin: 2% auto;
    border: 5px solid darkgreen;
    color: darkgreen;
    text-align: center;
    font-size: 60px;
    line-height: 98px;
}

.field {
    width: 98px;
    height: 98px;
    border: 1px solid darkgreen;
    float: left;
}